@font-face {
    font-family: "Ghostbusters";
    src: url("GHOSTBUS.TTF")
}

:root { /*delete later*/
    --color1: #30272E;

}

/*
monstrous text, ex. there is no dana only zuhl
person speaking lines

*/

body {
    background-color: #30272E;
    color: #f9fff6;
    font-family: serif;
}

h1, h2 {
    font-family: "Ghostbusters", serif;
    color: #EB5A70;
    font-size: 500%;
    text-transform: uppercase;
    text-align: center;
    
}

h2 {
    font-size: 300%;
    padding: 4% 0% 2% 0%;
}

#eyecatcher {
    width: 98vw;
    margin-left: 0;
    padding-top: 0;
}

blockquote {
    margin-left: 10%;
    margin-bottom: 8%;
    margin-right: 10%;
    font-size: 125%;
    line-height: 175%;
}

.emphasize {
    font-family: "Ghostbusters";
    color: #EB5A70;
    margin: 1.5% 0 0 0;
}

#quote2 {
    text-align: right;
}